
<img src="img/viu_logo.png" width="200">

## 01MIAR - Estructuras de datos, +Pandas

![logo](img/python_logo.png)

*Ivan Fuertes*

*Benjamin Arroquia Cuadros*

In [1]:
import pandas as pd
import numpy as np

# Operaciones en pandas

#### Búsqueda

In [2]:
# Formas de crear un random 
from numpy.random import MT19937
from numpy.random import RandomState, SeedSequence
rs = RandomState(MT19937(SeedSequence(123456789)))
rs = RandomState(12345)

In [3]:
rand_matrix = rs.randint(6,size=(2,3))
frame = pd.DataFrame(rand_matrix , columns=list('ABC'))
display(frame)

   A  B  C
0  2  5  5
1  1  4  1

In [4]:
# buscando columnas (DataFrame como dic, busca en claves)
'A' in frame

True

In [5]:
# buscando valores
display(frame.isin([3,2])) # --> mask de respuesta (valores que son 3 o 2)

       A      B      C
0   True  False  False
1  False  False  False

In [6]:
# Contar el número de ocurrencias
print(frame.isin([5]).values.sum()) 
display(frame.isin([5])) #devuelve una mask con valores true si el elemento es 4
type(frame.isin([1]).values) # pandas es una capa alrededor de numpy

2

       A      B      C
0  False   True   True
1  False  False  False

numpy.ndarray

In [7]:
# Cuántos valores son >= 4
mask = frame >= 4
print(mask.values.sum())
display(mask)

3

       A     B      C
0  False  True   True
1  False  True  False

#### Ordenación

In [8]:
from random import shuffle

rand_matrix = np.random.randint(20,size=(5,4))

indices = list(range(5))
shuffle(indices) # mezcla indices

frame = pd.DataFrame(rand_matrix , columns=list('DACB'), index=indices)
display(frame)

    D   A   C   B
4  16   6   5  15
0   6   5   4  16
2  15   9  14   5
1   3  15  17   9
3   0  12  19  16

In [9]:
# ordenar por índice
display(frame.sort_index(ascending=True))
display(frame)

    D   A   C   B
0   6   5   4  16
1   3  15  17   9
2  15   9  14   5
3   0  12  19  16
4  16   6   5  15

    D   A   C   B
4  16   6   5  15
0   6   5   4  16
2  15   9  14   5
1   3  15  17   9
3   0  12  19  16

In [10]:
#ordenar por columna
display(frame.sort_index(axis=1, ascending=True))

    A   B   C   D
4   6  15   5  16
0   5  16   4   6
2   9   5  14  15
1  15   9  17   3
3  12  16  19   0

In [11]:
# ordenar filas por valor en columna
display(frame.sort_values(by='A', ascending=False))

    D   A   C   B
1   3  15  17   9
3   0  12  19  16
2  15   9  14   5
4  16   6   5  15
0   6   5   4  16

In [12]:
# ordenar columnas por valor en fila
display(frame.sort_values(by=1, axis=1, ascending=True))

    D   B   A   C
4  16  15   6   5
0   6  16   5   4
2  15   5   9  14
1   3   9  15  17
3   0  16  12  19

In [13]:
# ordenar por valor en columna y guardar cambios
frame.sort_values(by='A', ascending=False, inplace=True)
display(frame)

    D   A   C   B
1   3  15  17   9
3   0  12  19  16
2  15   9  14   5
4  16   6   5  15
0   6   5   4  16

#### Ranking
- Construir un ranking de valores

In [14]:
display(frame)

    D   A   C   B
1   3  15  17   9
3   0  12  19  16
2  15   9  14   5
4  16   6   5  15
0   6   5   4  16

In [15]:
display(frame.rank(method='average', axis=1))

     D    A    C    B
1  1.0  3.0  4.0  2.0
3  1.0  2.0  4.0  3.0
2  4.0  2.0  3.0  1.0
4  4.0  2.0  1.0  3.0
0  3.0  2.0  1.0  4.0

In [16]:
# Imprimir, uno a uno, los valores de la columna 'C' de mayor a menor
for x in frame.sort_values(by='C', ascending=False)['C'].values:
    print(x)

19
17
14
5
4

# Operaciones

Operaciones matemáticas entre objetos

In [17]:
matrixA = np.random.randint(100,size=(4,4))
matrixB = np.random.randint(100,size=(4,4))
frameA = pd.DataFrame(matrixA)
frameB = pd.DataFrame(matrixB)
display(frameA)
display(frameB)

    0   1   2   3
0  91   7  32  23
1  74  39  66  82
2  52  14  13  85
3  42  29  52  65

    0   1   2   3
0  18  93  31  28
1  26  50  65  14
2  33  48  54  39
3  16  87  46  22

In [18]:
# a través de métodos u operadores
display(frameA + frameB == frameA.add(frameB))
display(frameA + frameB)

      0     1     2     3
0  True  True  True  True
1  True  True  True  True
2  True  True  True  True
3  True  True  True  True

     0    1    2    3
0  109  100   63   51
1  100   89  131   96
2   85   62   67  124
3   58  116   98   87

In [19]:
display(frameB - frameA == frameB.sub(frameA))
display(frameB - frameA)

      0     1     2     3
0  True  True  True  True
1  True  True  True  True
2  True  True  True  True
3  True  True  True  True

    0   1   2   3
0 -73  86  -1   5
1 -48  11  -1 -68
2 -19  34  41 -46
3 -26  58  -6 -43

In [20]:
# si los frames no son iguales, valor por defecto NaN
frameC = pd.DataFrame(np.random.randint(100,size=(3,3)))
display(frameA)
display(frameC)
display(frameA - frameC)

    0   1   2   3
0  91   7  32  23
1  74  39  66  82
2  52  14  13  85
3  42  29  52  65

    0   1   2
0  76  32  84
1  92  27  90
2  31   9  12

      0     1     2   3
0  15.0 -25.0 -52.0 NaN
1 -18.0  12.0 -24.0 NaN
2  21.0   5.0   1.0 NaN
3   NaN   NaN   NaN NaN

In [21]:
# se puede especificar el valor por defecto con el argumento fill_value
display(frameA.sub(frameC, fill_value=0))

      0     1     2     3
0  15.0 -25.0 -52.0  23.0
1 -18.0  12.0 -24.0  82.0
2  21.0   5.0   1.0  85.0
3  42.0  29.0  52.0  65.0

Operadores aritméticos solo válidos en elementos aceptables

In [22]:
frameD = pd.DataFrame({0: ['a','b'],1:['d','f']})
display(frameD)
frameA - frameD

   0  1
0  a  d
1  b  f

TypeError: unsupported operand type(s) for -: 'int' and 'str'

Operaciones entre Series y DataFrames

In [23]:
rand_matrix = np.random.randint(10, size=(3, 4))
df = pd.DataFrame(rand_matrix , columns=list('ABCD'))
display(df)

display(type(df.iloc[0]))
# uso común, averiguar la diferencia entre una fila y el resto
display(df - df.iloc[0])
# Por columnas cómo se restaría
display(df.sub(df['A'], axis=0))

   A  B  C  D
0  7  9  9  5
1  2  2  7  5
2  2  3  3  4

pandas.core.series.Series

   A  B  C  D
0  0  0  0  0
1 -5 -7 -2  0
2 -5 -6 -6 -1

   A  B  C  D
0  0  2  2 -2
1  0  0  5  3
2  0  1  1  2

pandas se basa en NumPy, np operadores binarios y unarios son aceptables 

| Tipo | Operación | Descripción |
|:---------|:-----|:-----|
| Unario | *abs* | Valor absoluto de cada elemento |
| | *sqrt* | Raíz cuadrada de cada elemento |
| | *exp* | e^x, siendo x cad elemento |
| | *log, log10, log2* | Logaritmos en distintas bases de cada elemento |
| | *sign* | Retorna el signo de cada elemento (-1 para negativo, 0 o 1 para positivo) |
| | *ceil* | Redondea cada elemento por arriba |
| | *floor* | Redondea cada elemento por abajo |
| | *isnan* | Retorna si cada elemento es Nan |
| | *cos, sin, tan* | Operaciones trigonométricas en cada elemento |
| | *arccos, arcsin, arctan* | Inversas de operaciones trigonométricas en cada elemento |
| Binario | *add* | Suma de dos arrays |
| | *substract* | Resta de dos arrays |
| | *multiply* | Multiplicación de dos arrays |
| | *divide* | División de dos arrays |
| | *maximum, minimum* | Retorna el valor máximo/mínimo de cada pareja de elementos |
| | *equal, not_equal* | Retorna la comparación (igual o no igual) de cada pareja de elementos |
| | *greater, greater_equal, less, less_equal* | Retorna la comparación (>, >=, <, <= respectivamente) de cada pareja de elementos |

## Aplicación de funciones a medida con lambda

In [24]:
rand_matrix = np.random.randint(20, size=(10, 2))
df = pd.DataFrame(rand_matrix , columns=list('AB'))
display(df)
print(df.apply(lambda x : x.max() - x.min())) # diferencia por columna, lambda funciones personalizadas
display(df.max(axis=0) - df.min(axis=0))

    A   B
0   1   0
1  10  17
2  12   9
3   9   9
4  19  16
5   8  19
6  11   7
7  13   9
8  12  11
9  11   4

A    18
B    19
dtype: int64

A    18
B    19
dtype: int64

In [25]:
# diferencia entre min y max por fila (no columna)
rand_matrix = np.random.randint(10, size=(3, 4))
frame = pd.DataFrame(rand_matrix , columns=list('ABCD'))
display(frame)
print(frame.apply(lambda x : x.max() - x.min(), axis = 1)) # diferencia por fila

   A  B  C  D
0  8  8  1  0
1  3  2  4  2
2  1  9  4  1

0    8
1    2
2    8
dtype: int64

In [26]:
# Rolling opera sobre una secuencia en una ventana 
# Muy utilizado en series temporales para cálculo de media móvil
df["C"] = df["A"].rolling(window=3, center=False, min_periods=2).mean() # coge una ventana cada 2 valores en la columna y saca la media
df

    A   B          C
0   1   0        NaN
1  10  17   5.500000
2  12   9   7.666667
3   9   9  10.333333
4  19  16  13.333333
5   8  19  12.000000
6  11   7  12.666667
7  13   9  10.666667
8  12  11  12.000000
9  11   4  12.000000

In [27]:
def crea_funcion(x):
    pos = x.index.values[1]
    print(pos, df.loc[pos, 'B'])
    return x.mean() - df.loc[pos, 'B']

df["C"] = df["A"].rolling(window=3, center=False, min_periods=2).apply(lambda x: crea_funcion(x), raw=False) # raw = False hace que el apply entregue un DataFrame y raw=True entrega un numpy
df
type(df)

1 17
1 17
2 9
3 9
4 16
5 19
6 7
7 9
8 11

pandas.core.frame.DataFrame

Optimización de funciones personalizadas con C y Numba:
- https://pandas.pydata.org/pandas-docs/stable/user_guide/enhancingperf.html

# Estadística descriptiva
- Análisis preliminar de los datos
- Para Series y DataFrame

| Operación | Descripción |
|:----------|:------------|
| count | Número de valores no NaN |
| describe | Conjunto de estadísticas sumarias|
| min, max | Valores mínimo y máximo |
| argmin, argmax | Índices posicionales del valor mínimo y máximo |
| idxmin, idxmax | Índices semánticos del valor mínimo y máximo |
| sum | Suma de los elementos |
| mean | Media de los elementos |
| median | Mediana de los elementos |
| mad | Desviación absoluta media del valor medio |
| var | Varianza de los elementos |
| std | Desviación estándar de los elementos |
| cumsum | Suma acumulada de los elementos |
| diff | Diferencia aritmética de los elementos |

In [28]:
diccionario = { "nombre" : ["Marisa","Laura","Manuel", "Carlos"], "edad" : [34,34,11, 30], 
               "puntos" : [98,12,98,np.nan], "genero": ["F", "F", "M", "M"] }
frame = pd.DataFrame(diccionario)
display(frame)
display(frame.describe(include='all')) # datos generales de elementos

   nombre  edad  puntos genero
0  Marisa    34    98.0      F
1   Laura    34    12.0      F
2  Manuel    11    98.0      M
3  Carlos    30     NaN      M

        nombre       edad     puntos genero
count        4   4.000000   3.000000      4
unique       4        NaN        NaN      2
top     Marisa        NaN        NaN      F
freq         1        NaN        NaN      2
mean       NaN  27.250000  69.333333    NaN
std        NaN  10.996211  49.652123    NaN
min        NaN  11.000000  12.000000    NaN
25%        NaN  25.250000  55.000000    NaN
50%        NaN  32.000000  98.000000    NaN
75%        NaN  34.000000  98.000000    NaN
max        NaN  34.000000  98.000000    NaN

In [29]:
print(type(frame['edad']))

<class 'pandas.core.series.Series'>

In [30]:
# operadores básicos
print(frame.sum())
print(frame.sum(axis=1, numeric_only=True))

nombre    MarisaLauraManuelCarlos
edad                          109
puntos                      208.0
genero                       FFMM
dtype: object
0    132.0
1     46.0
2    109.0
3     30.0
dtype: float64

In [31]:
frame.mean(numeric_only=True)

edad      27.250000
puntos    69.333333
dtype: float64

In [32]:
frame.cumsum()

                    nombre  edad  puntos genero
0                   Marisa    34    98.0      F
1              MarisaLaura    68   110.0     FF
2        MarisaLauraManuel    79   208.0    FFM
3  MarisaLauraManuelCarlos   109     NaN   FFMM

In [33]:
frame.count()

nombre    4
edad      4
puntos    3
genero    4
dtype: int64

In [34]:
frame['edad'].std()

10.996211468804457

In [35]:
frame['edad'].idxmax()

0

In [36]:
frame['puntos'].idxmin()

1

In [37]:
# frame con las filas con los valores maximos de una columna
print(frame['puntos'].max())
display(frame[frame['puntos'] == frame['puntos'].max()])

98.0

   nombre  edad  puntos genero
0  Marisa    34    98.0      F
2  Manuel    11    98.0      M

## Agregaciones

In [38]:
display(frame)
frame.groupby('genero').count() # agrupa por atributos

   nombre  edad  puntos genero
0  Marisa    34    98.0      F
1   Laura    34    12.0      F
2  Manuel    11    98.0      M
3  Carlos    30     NaN      M

        nombre  edad  puntos
genero
F            2     2       2
M            2     2       1

In [39]:
display(frame.groupby('genero').mean())

        edad  puntos
genero
F       34.0    55.0
M       20.5    98.0

In [40]:
display(frame.loc[:, ['genero', 'puntos', 'edad']].groupby('genero').mean()) #para evaluar varios campos

        puntos  edad
genero
F         55.0  34.0
M         98.0  20.5

In [41]:
display(frame.groupby('genero').max())

        nombre  edad  puntos
genero
F       Marisa    34    98.0
M       Manuel    30    98.0

In [42]:
# funciones de agregación de varias columnas para obtener distintos estadísticos
display(frame.groupby('genero')[['edad', 'puntos']].aggregate(['min', np.median, max])) # genera multiindex y es complicado trabajar con eso

       edad            puntos
        min median max    min median   max
genero
F        34   34.0  34   12.0   55.0  98.0
M        11   20.5  30   98.0   98.0  98.0

In [43]:
# seleccionar las columnas y operación
display(frame.groupby('genero').aggregate({ # mas recomendado !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    'edad': 'sum',
    'puntos': 'mean'
}))

# seleccionar las columnas y operación
display(frame.groupby('genero').aggregate(
    maximo_edad=pd.NamedAgg(column="edad", aggfunc="max"),
))

        edad  puntos
genero
F         68    55.0
M         41    98.0

        maximo_edad
genero
F                34
M                30

In [44]:
# Filtrado de los datos en el que el conjunto no supera una media determinada 
def media(x):
    return x["edad"].mean() > 30

display(frame)
frame.groupby('genero').filter(media)

   nombre  edad  puntos genero
0  Marisa    34    98.0      F
1   Laura    34    12.0      F
2  Manuel    11    98.0      M
3  Carlos    30     NaN      M

   nombre  edad  puntos genero
0  Marisa    34    98.0      F
1   Laura    34    12.0      F

## Correlaciones

pandas incluye métodos para analizar correlaciones
- Relación matemática entre dos variables (-1 negativamente relacionadas, 1 positivamente relacionadas, 0 sin relación)
- obj.corr(obj2) --> medida de correlación entre los datos de ambos objetos
- https://blogs.oracle.com/ai-and-datascience/post/introduction-to-correlation

### Ejemplo Fuel efficiency
- https://archive.ics.uci.edu/ml/datasets/Auto+MPG

In [45]:
path = 'http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data'

mpg_data = pd.read_csv(path, delim_whitespace=True, header=None,
            names = ['mpg', 'cilindros', 'desplazamiento','potencia',
            'peso', 'aceleracion', 'año', 'origen', 'nombre'],
            na_values='?')

In [46]:
display(mpg_data.sample(5)) # muestro los 5 primeros registros

,mpg,cilindros,desplazamiento,potencia,peso,aceleracion,año,origen,nombre
231,15.5,8,400.0,190.0,4325.0,12.2,77,1,chrysler cordoba
175,29.0,4,90.0,70.0,1937.0,14.0,75,2,volkswagen rabbit
356,32.4,4,108.0,75.0,2350.0,16.8,81,3,toyota corolla
180,25.0,4,121.0,115.0,2671.0,13.5,75,2,saab 99le
258,20.6,6,231.0,105.0,3380.0,15.8,78,1,buick century special

In [47]:
mpg_data['origen'].unique() # saco los valores unicos de origen

array([1, 3, 2])

In [48]:
display(mpg_data.describe(include='all'))

,mpg,cilindros,desplazamiento,potencia,peso,aceleracion,año,origen,nombre
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000,398.000000,398
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,305
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ford pinto
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050,1.572864,NaN
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627,0.802055,NaN
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000,1.000000,NaN
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000,1.000000,NaN
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000,1.000000,NaN
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000,2.000000,NaN
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000,3.000000,NaN

In [ ]:
mpg_data.info()

### Correlaciones entre valores

In [49]:
mpg_data['mpg'].corr(mpg_data['peso']) # + mpg = - peso, peso decrese

-0.8317409332443351

In [50]:
mpg_data['peso'].corr(mpg_data['aceleracion']) # + peso = - aceleracion

-0.4174573199403932

### Correlaciones entre todos los valores

In [51]:
mpg_data.corr() # mpg_data.corr(numeric_only=True)

,mpg,cilindros,desplazamiento,potencia,peso,aceleracion,año,origen
mpg,1.000000,-0.775396,-0.804203,-0.778427,-0.831741,0.420289,0.579267,0.563450
cilindros,-0.775396,1.000000,0.950721,0.842983,0.896017,-0.505419,-0.348746,-0.562543
desplazamiento,-0.804203,0.950721,1.000000,0.897257,0.932824,-0.543684,-0.370164,-0.609409
potencia,-0.778427,0.842983,0.897257,1.000000,0.864538,-0.689196,-0.416361,-0.455171
peso,-0.831741,0.896017,0.932824,0.864538,1.000000,-0.417457,-0.306564,-0.581024
aceleracion,0.420289,-0.505419,-0.543684,-0.689196,-0.417457,1.000000,0.288137,0.205873
año,0.579267,-0.348746,-0.370164,-0.416361,-0.306564,0.288137,1.000000,0.180662
origen,0.563450,-0.562543,-0.609409,-0.455171,-0.581024,0.205873,0.180662,1.000000

In [52]:
#año y origen no parecen correlacionables
#eliminar columnas de la correlacion
corr_data = mpg_data.drop(['año','origen'],axis=1).corr() # .corr(numeric_only=True)
display(corr_data)

,mpg,cilindros,desplazamiento,potencia,peso,aceleracion
mpg,1.000000,-0.775396,-0.804203,-0.778427,-0.831741,0.420289
cilindros,-0.775396,1.000000,0.950721,0.842983,0.896017,-0.505419
desplazamiento,-0.804203,0.950721,1.000000,0.897257,0.932824,-0.543684
potencia,-0.778427,0.842983,0.897257,1.000000,0.864538,-0.689196
peso,-0.831741,0.896017,0.932824,0.864538,1.000000,-0.417457
aceleracion,0.420289,-0.505419,-0.543684,-0.689196,-0.417457,1.000000

In [53]:
# representación gráfica matplotlib
import matplotlib.pyplot as plt

In [54]:
# representación gráfica
corr_data.style.background_gradient(cmap=plt.get_cmap('RdYlGn'), axis=1)

In [55]:
# correlación más negativa
mpg_data.drop(['año','origen'],axis=1).corr().idxmin() # .corr(numeric_only=True)

mpg                   peso
cilindros              mpg
desplazamiento         mpg
potencia               mpg
peso                   mpg
aceleracion       potencia
dtype: object

In [56]:
# correlación más positiva
mpg_data.drop(['año','origen'],axis=1).corr().idxmax()  #consigo misma.... # .corr(numeric_only=True)

mpg                          mpg
cilindros              cilindros
desplazamiento    desplazamiento
potencia                potencia
peso                        peso
aceleracion          aceleracion
dtype: object

In [57]:
# tabla similar con las correlaciones más positivas (evitar parejas del mismo valor)
positive_corr = mpg_data.drop(['año','origen'],axis=1).corr()
np.fill_diagonal(positive_corr.values, 0)
display(positive_corr)
positive_corr.idxmax()

,mpg,cilindros,desplazamiento,potencia,peso,aceleracion
mpg,0.000000,-0.775396,-0.804203,-0.778427,-0.831741,0.420289
cilindros,-0.775396,0.000000,0.950721,0.842983,0.896017,-0.505419
desplazamiento,-0.804203,0.950721,0.000000,0.897257,0.932824,-0.543684
potencia,-0.778427,0.842983,0.897257,0.000000,0.864538,-0.689196
peso,-0.831741,0.896017,0.932824,0.864538,0.000000,-0.417457
aceleracion,0.420289,-0.505419,-0.543684,-0.689196,-0.417457,0.000000

mpg                  aceleracion
cilindros         desplazamiento
desplazamiento         cilindros
potencia          desplazamiento
peso              desplazamiento
aceleracion                  mpg
dtype: object

In [58]:
positive_corr.style.background_gradient(cmap=plt.get_cmap('RdYlGn'), axis=1, vmin=-1.0, vmax=1.0)