# Estudio

In [1]:
# Your imports HERE !!!!
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Fibonacci n con lambda

In [135]:
expected_fibo_serie = [0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,1597]
fibo_serie = fibonacci_lambda(len(expected_fibo_serie))
fibonacci1 = fibonacci(1)
print(fibo_serie)
print(fibonacci1)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597]
[0]

In [89]:
from functools import reduce

fibonacci_lambda = lambda n: reduce(lambda x,y: x + [x[-1] + x[-2]], range(n-2), [0,1])

In [129]:
fibonacci = lambda n: [] if n < 1 else [0] if n == 1 else [0, 1] if n == 2 else fibonacci(n-1) + [sum(fibonacci(n-1)[-2:])]

In [130]:
fibonaccifor = lambda n: [] if n < 1 else [0] if n == 1 else [0, 1] if n == 2 else [fibonaccifor(i-1)[-1] + fibonaccifor(i-2)[-1] for i in range(2, n+1)]

### ver duplicados de un nparray a partir de la segunda ocurrencia

In [62]:
numbers = np.array([4, 4, 4, 3, 8, 1, 9, 6, 1, 5, 9, 4, 0, 2])
expected_output = np.array([False, True, True, False, False, False, False, False, True, False, True, True, False, False])
output = find_duplicates(numbers)
print(output)
print(expected_output)

[False  True  True False False False False False  True False  True  True
 False False]
[False  True  True False False False False False  True False  True  True
 False False]

In [57]:
# Your solution HERE !!!!
def find_duplicates(array):
    result = np.full(array.shape[0], True) # hago un array de todos los valores True
    _,unique_positions = np.unique(array, return_index = True) # busco todos los valores unique
                        # la funcion nos arroja indices de la nueva serie, estos los descartamos
    result[unique_positions] = False # coloca false en los indices que son unicos
    return result

### Ecuaciones

    - A : -9x +  4y = 20           7y + 16x = 80

In [7]:
# Your solution HERE !!!!
import math

a = np.array([[-9,4], [16, -7]])
b = np.array([20, 80])
x,y = np.linalg.solve(a,b)
print(f"x={x} y={y}")

print(math.isclose(-9*x + 4*y, 20))
print(math.isclose(-7*y + 16*x, 80))

x=460.0 y=1040.0
True
True

### Ecuaciones

    - B : x - 2y + 3z = 7 \\ 2x + y + z = 4 \\ -3x + 2y -2z = -10

In [68]:
# Your solution HERE !!!!
# Definir los coeficientes del sistema de ecuaciones
coefficients = np.array([[1, -2, 3], [2, 1, 1], [-3, 2, -2]])
constants = np.array([7, 4, -10])

# Resolver el sistema de ecuaciones
solution = np.linalg.solve(coefficients, constants)

# Imprimir la solución
print("Solución:")
print("x =", solution[0])
print("y =", solution[1])
print("z =", solution[2])

Solución:
x = 2.0
y = -1.0
z = 1.0

### Datos se pueden acceder con indices pisicionales o semanticos

In [69]:
# Your solution HERE !!!!

serie = pd.Series([1,2,3,4,5,6,7,8,'Manolo',True], index=list('abcdefghij')) #crea serie con indices string
serie.loc[:'e'] == serie.iloc[:5] # comparo los primeros 5 valores

a    True
b    True
c    True
d    True
e    True
dtype: bool

### Reemplazo por nulos

In [71]:
# Your solution HERE !!!!
frame = pd.DataFrame(np.random.randint(20, size=(10,10))) #creo df random [0-20]de 10x10
display(frame)
frame[frame<5]=np.nan # reemplazo valores menores que 5 por NaN
display(frame)
print(frame.isnull().sum(axis=1)) # averiguo cuantos NaN hay por fila

    0   1   2   3   4   5   6   7   8   9
0  15  14  13  11   8  11   7  12   0  16
1   6   5  15   0   2   7  10   4  18  12
2  14  14  11   1   5   5   1  16   5  19
3  19   9  10   3  17  11   8  15   6  12
4   7   0  18   1  16   1  19   0   1   1
5  15   1   2   2  11   5  18   1   1  16
6   5   7  18   2  14  15  14   8   4  11
7   7  11  17  17  12  14  19   9  10  17
8   1  16   6  14   3   6   3   4   5   1
9  16  13   4   1  13  16   5  19   8  14

      0     1     2     3     4     5     6     7     8     9
0  15.0  14.0  13.0  11.0   8.0  11.0   7.0  12.0   NaN  16.0
1   6.0   5.0  15.0   NaN   NaN   7.0  10.0   NaN  18.0  12.0
2  14.0  14.0  11.0   NaN   5.0   5.0   NaN  16.0   5.0  19.0
3  19.0   9.0  10.0   NaN  17.0  11.0   8.0  15.0   6.0  12.0
4   7.0   NaN  18.0   NaN  16.0   NaN  19.0   NaN   NaN   NaN
5  15.0   NaN   NaN   NaN  11.0   5.0  18.0   NaN   NaN  16.0
6   5.0   7.0  18.0   NaN  14.0  15.0  14.0   8.0   NaN  11.0
7   7.0  11.0  17.0  17.0  12.0  14.0  19.0   9.0  10.0  17.0
8   NaN  16.0   6.0  14.0   NaN   6.0   NaN   NaN   5.0   NaN
9  16.0  13.0   NaN   NaN  13.0  16.0   5.0  19.0   8.0  14.0

0    1
1    3
2    2
3    1
4    6
5    5
6    2
7    0
8    5
9    2
dtype: int64

### DataFrame sin los elementos duplicados

In [72]:
serie = ['b','a','c','a','c','a','g']
expected_output = pd.DataFrame(['a','b','c','g'])
output = pd.DataFrame(np.unique(serie))   # Elimina duplicados
output

   0
0  a
1  b
2  c
3  g

### Generador infinito de números de Fibonacci.

In [75]:
fibo = [0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,1597]
g = fibonacci_generator()  # generador de serie fibonacci
expected_output = [next(g) for n in range(len(fibo))]
print(fibo)
print(expected_output)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597]

In [20]:
# Your solution HERE !!!!
def fibonacci_generator():
    n_2 = 0
    n_1 = 1
    while True:
        yield n_2
        n_2, n_1 = n_1, n_2 + n_1

### Reemplazo de los espacios en blanco por el carácter menos frecuente en dicha serie.

In [82]:
serie = pd.Series(list('bba cabc faabba aacbbfe'))
expected_output = pd.Series(list('bbaecabcefaabbaeaacbbfe'))
output = clean_whitespace_replace(serie)

b    7
a    7
     3
c    3
f    2
e    1
dtype: int64
b    7
a    7
e    4
c    3
f    2
dtype: int64

In [84]:
# Your solution HERE !!!!

def clean_whitespace_replace(serie):
    less_freq = serie.value_counts().index[-1]
                                        # value_counts() valores unicos como indices y frecuencias como valores ord desc
                                        # index devuelve indices
                                        # index[-1] escoge el valor con menos ocurrencias - lista descendente
    print(serie.value_counts())
    serie[serie==' ']= less_freq # reemplazo espacios por el caracter con menos ocurrencias
    print(serie.value_counts())
    return serie